@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eef2ff;
}

.input-wrapper {
  background-color: #eef2ff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}
 